@import url(https://fonts.bunny.net/css?family=nunito:900,700,400,200);

html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Nunito;
}

.emoji-search {
  background-color: white;
  color: black;
}